<button mat-fab class="back-button" routerLink="" color="accent">
	<mat-icon aria-label="back">arrow_back</mat-icon>
</button>

<div ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">

	<form #uploadForm="ngForm" *ngIf="!responses.length">

		<mat-form-field>
			<input name="nome" matInput placeholder="Nome" [(ngModel)]="nome" required>
		</mat-form-field>
		<mat-form-field>
			<input name="cognome" matInput placeholder="Cognome" [(ngModel)]="cognome" required>
		</mat-form-field>
		<mat-form-field class="team">
			<mat-select *ngIf="selectTeam" name="squadra" placeholder="Squadra" [(ngModel)]="squadra" required>
				<mat-option *ngFor="let team of teams | async" [value]="team.name">
					{{ team.name }}
				</mat-option>
			</mat-select>
			<input *ngIf="!selectTeam" name="squadra" matInput placeholder="Squadra" [(ngModel)]="squadra" required autofocus>

		</mat-form-field>
		<button mat-mini-fab color="accent" (click)="toggleTeamSelect()">
			<mat-icon aria-label="add">{{selectTeam?'add':'close'}}</mat-icon>
		</button>

		<div *ngIf="uploadForm.form.valid">
			<div class="form_controls">
				<div class="upload_button_holder">
					<a mat-raised-button color="primary">
						<label class="upload_button" for="fileupload">Foto</label>
					</a>
					<input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''">
				</div>
			</div>
		</div>
	</form>

	<div class="file" *ngFor="let response of responses; let i = index">

		<mat-progress-spinner color="primary" mode="determinate" [value]="response.progress">
		</mat-progress-spinner>
		<div class="status">
			<div class="status-code" *ngIf="response.status">Upload completed with status code {{response.status}}</div>
		</div>
	</div>

</div>