/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~ng-tournament-tree/styles/ngtt-styles';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.ngtt-de__container {
    background: transparent;
}