<button *ngIf="upload" mat-fab class="add-button" routerLink="new" color="accent">
    <mat-icon aria-label="Add">add</mat-icon>
</button>

<mat-accordion multi="true">

    <mat-expansion-panel *ngFor="let team of teams | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>{{team.name}}</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="photo" *ngFor="let photo of team.photos" [style.background-image]="photo.url">
            <div class="name">{{photo.name}} {{photo.surname}}</div>
        </div>

    </mat-expansion-panel>
</mat-accordion>